@charset "UTF-8";


@font-face {
  font-family: 'Montserrat', sans-serif;
}


header {
    background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?cs=srgb&dl=down-angle-photography-of-red-clouds-and-blue-sky-844297.jpg&fm=jpg);
    padding: 70px;
    color: #6B0D35;
    text-align: center;
    font-size: 70px;
    font-family: 'Odibee Sans', cursive;
}


.nav {
    font-family: 'Montserrat', sans-serif;
    color: #6B0D35;
}

.PageBody {
    /*background-color: #333333;*/
    background-image: url(https://cdn.pixabay.com/photo/2019/07/01/16/58/tanzania-4310438_1280.jpg);
	background-size: 3000px 2560px;
	align-content: center;
    background-repeat: repeat;
    place-image: center;
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
}

.PageBody h1 {
	color:#6B0D35;
	font-family: 'Odibee Sans', cursive;
}

.PageBody h2 {
	color: #6B0D35;
	}

#infoContainer {
    margin-top: 4%;
    margin-bottom: 7%;
}

#containerBorder1 {
    box-sizing: border-box;
    border-width: 3px ;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      pink, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}   

#containerBorder2 {
    box-sizing: border-box;
    border-width: 3px ;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      pink, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}   

#containerBorder3 {
    box-sizing: border-box;
}   

#containerBorder4 {
    box-sizing: border-box;
    border-width: 3px ;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      pink, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}   

footer {
    padding: 60px;
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?cs=srgb&dl=down-angle-photography-of-red-clouds-and-blue-sky-844297.jpg&fm=jpg);
}
